Repository projetoKhali/api5back, pull requests merged in 2024-09, with the labels that each got.

#11 feat: adding postgresql connection for entity and data warehouse
  docker-compose.yml
Labels: database

#16 feat: setup Ent framework
  .air.toml
  .env.example
  .gitignore
  .markdownlint.yml
  Makefile
  ent/generate.go
  go.mod
  go.sum
  main.go
  scripts/README.md
  scripts/generate/main.go
  scripts/migrate/main.go
  scripts/schema/main.go
  src/database/database.go
  src/database/databaseCredentials.go
  src/schema/user.go
  src/schema/vacancy.go
Labels: enhancement, database, entity

#18 feat: create data warehouse entities with `ent`
  .husky/hooks/pre-commit
  Makefile
  db/api_dw.sql
  go.mod
  scripts/generate/main.go
  src/database/database_integration_test.go
  src/schema/dim_datetime.go
  src/schema/dim_process.go
  src/schema/dim_user.go
  src/schema/dim_vacancy.go
  src/schema/fact_hiring_process.go
Labels: enhancement, database, entity

#20 test: run dedicated database container for integration tests
  .env.integration
  docker-compose.yml
  go.mod
  go.sum
  src/database/credentials.go
  src/database/database.go
  src/database/database_integration_test.go
Labels: enhancement, database

#19 build: integrate swagger commands into development routine
  .air.toml
  Makefile
  README.md
Labels: documentation, enhancement
